<div class="balance-card">

  <app-header  [titleInput]="'Saldos Disponiveis'" [color]="'orange'" [value]="'R$ 100,00'" [imgPath]="handIcon"></app-header>
  <div class="balance-card__content" bgColor>
    <app-card-line [itemValue]="'R$ 200'" [content]="'saldo disponivel'"></app-card-line>
    <app-card-line [itemValue]="'R$ 200'" [content]="'saldo disponivel'"></app-card-line>
    <app-card-line [itemValue]="'R$ 200'" [content]="'saldo disponivel'"></app-card-line>
    <app-card-line [itemValue]="'R$ 200'" [content]="'saldo disponivel'"></app-card-line>
    <app-card-line [itemValue]="'R$ 200'" [content]="'saldo disponivel'"></app-card-line>

    <div class="balance-card__content-summary">
      <div class="balance-card__content-item">
          <p>SALDO TOTAL</p>
          <p>R$ 1000,00</p>
      </div>

      <div class="balance-card__content-item">
          <p>LIVRE PARA MOVIMENTAÇÃO</p>
          <p>R$ 1000,00</p>
      </div>
    </div>


  </div>

</div>

