.item-card {

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    height: 80px;

  }


  &__orange {
    background-color: orange;
  }
  &__cyan {
    background-color: aqua;
  }
}
